{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>panneau de configuration</h1>
<table>

    <h2><a href="{{ path('app_formation') }}">liste des Formations</a></h2>
    
    <tr>
        <th>Nom</th>
        <th>option</th>
    </tr>
    
    {% for formation in formations %}
    <tr>
        <td>{{formation.nom}}</td>
        <td><a href="{{ path('delete_formation', {'id': formation.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_formation') }}">Nouvelle formation</a></br>
</table>

<table>

    <h2><a href="{{ path('app_module') }}">liste des Modules</a></h2>
    
    <tr>
        <th>Nom</th>
        <th>Categorie</th>
        <th>option</th>
    </tr>
    
    {% for module in modules %}
    <tr>
        <td>{{module.libelle}}</td>
        <td>{{module.categorie}}</td>
        <td><a href="{{ path('delete_module', {'id': module.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_module') }}">Nouveau module</a></br>

</table>

<table>

    <h2><a href="{{ path('app_categorie') }}">liste des Catégorie</a></h2>
    
    <tr>
        <th>Nom</th>
        <th>option</th>
    </tr>
    
    {% for categorie in categories %}
    <tr>
        <td>{{categorie.nom}}</td>
        <td><a href="{{ path('delete_categorie', {'id': categorie.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_categorie') }}">Nouvelle catégorie</a></br>

</table>

<table>

    <h2><a href="{{ path('app_formateur') }}">liste des Formateurs</a></h2>
    
    <tr>
        <th>Nom</th>
        <th>option</th>
    </tr>
    
    {% for formateur in formateurs %}
    <tr>
        <td>{{formateur.nom}}</td>
        <td><a href="{{ path('delete_formateur', {'id': formateur.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_formateur') }}">Nouveau formateur</a></br>

</table>


{% endblock %}
