{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
    <h1> Detail Stagiaire</h1>
        <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}"> Supprimer </a> 

        
        <h2>{{stagiaire}}</h2>
        <p>
            
            Sexe : {{stagiaire.sexe}}</br>
            date de Naissance : : {{stagiaire.dateNaissance|date('d-m-Y')}}</br>
            email : {{stagiaire.email}}</br>
            Tel : {{stagiaire.Telephone}}</br>
        
        <h2>liste Session inscrit</h2>
            {% for session in stagiaire.sessions %}
            <a href="{{ path('show_session', {'id': session.id}) }}"> {{session}} </a> 
            <a href="{{ path('remove_stagiaire_session', {'id': stagiaire.id, 'sessionId': session.id}) }}"> désinscrire </a></br>
            {% endfor %}
            
{% endblock %}
