{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

    <h1> Ajouter une session</h1>
    
    {#{{ form(formAddSession)}}#}
    {{ form_start(formAddSession) }}
    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddSession.formateur)}}
        </div>
        <div class="col-sm">
            {{ form_row(formAddSession.formation)}}
        </div>
        <div class="col-sm">
            {{ form_row(formAddSession.intitule)}}
        </div>
        <div class="col-sm">
            {{ form_row(formAddSession.nbPlace)}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddSession.dateDebut)}}
        </div>
        <div class="col-sm">
            {{ form_row(formAddSession.dateFin)}}
        </div>
    </div>
        
        {{ form_row(formAddSession.valider)}}
    {{ form_end(formAddSession) }}
{% endblock %}
