{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1> Detail session</h1>
    
        <h2>{{session.intitule}}</h2>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('delete_session', {'id': session.id}) }}"> Supprimer </a> 
        {% endif %} 
        <p>
            Formateur : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{session.formateur}}</a><br>
            Début de la session : {{session.dateDebut|date('d-m-Y')}}<br>
            Fin de la session : {{session.dateFin|date('d-m-Y')}}<br>
            durée : {{ session.dureeSession() }} jours</br>

            place disponible : {{session.nbPlace}}
        </p>  


        <h2>liste inscrit</h2>
            {% for inscrit in session.stagiaires %}
                <a href="{{ path('show_stagiaire', {'id': inscrit.id}) }}">{{inscrit}}</a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('remove_session_stagiaire', {'id': inscrit.id, 'sessionId': session.id}) }}">enlever</a>
                {% endif %} </br>
            {% endfor %}

            {% if is_granted("ROLE_ADMIN") %}
                {% if session.stagiaires|length <  session.nbPlace %}
                    <h2>liste non-inscrit</h2>
                    {% for nonInscrit in nonInscrits %}
                        <a href="{{ path('show_stagiaire', {'id': nonInscrit.id}) }}">{{nonInscrit}}</a> <a href="{{ path('add_session_stagiaire', {'id': nonInscrit.id, 'sessionId': session.id}) }}">ajouter</a></br>
                    {% endfor %}
                {% endif %}            
            {% endif %} 
        
        <h2>liste module</h2>
            {% for programme in session.programmes %}
                {{programme.module}} {{programme.nbJours}}J
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('remove_session_programme', {'progId': programme.id, 'modId': programme.module.id , 'sessionId': session.id}) }}"> enlever </a>
                {% endif %} </br>
            </form>
            {% endfor %}

        {% if is_granted("ROLE_ADMIN") %}
            <h2>liste modules à ajouter</h2>
            {% for row in app.flashes('error') %}
                {{row}}
            {% endfor %}
    
            {% for nonModule in nonProgrammes %}
                {{nonModule}} 
                <form method="GET" action="{{path('add_session_programme', {'modId': nonModule.id , 'sessionId': session.id}) }}">
                    nombre de jours : <input type="number" min='1' max="20" value="1" name="nbJours">
                    <input type="submit" name="submit" value="Ajouter"></br>
                </form>
            {% endfor %}
        {% endif %} 
        
        
{% endblock %}
