{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1> Detail session</h1>
    
        <h2>{{session.formation}}</h2>
        <p>
            Formateur : {{session.formateur}}
            Début de la session : {{session.dateDebut|date('d-m-Y')}}
            Fin de la session : {{session.dateFin|date('d-m-Y')}}
            place disponible : {{session.nbPlace}}
        </p>  


        <h2>liste inscrit</h2>
            {% for inscrit in session.stagiaires %}
                {{inscrit}} <a href="{{ path('remove_session_stagiaire', {'id': inscrit.id, 'sessionId': session.id}) }}">enlever</a></br>
            {% endfor %}
        <h2>liste non-inscrit</h2>
            {% for nonInscrit in nonInscrits %}
                {{nonInscrit}} <a href="{{ path('add_session_stagiaire', {'id': nonInscrit.id, 'sessionId': session.id}) }}">ajouter</a></br>
            {% endfor %}
        <h2>liste module</h2>
            {% for programme in session.programmes %}
             {{programme.module}} {{programme.nbJours}}J <a href="{{ path('remove_session_programme', {'progId': programme.id, 'modId': programme.module.id , 'sessionId': session.id}) }}"> enlever </a> </br>
            {% endfor %}
        <h2>liste non module</h2>
            {% for nonModule in nonProgrammes %}
                {{nonModule}} <a href="{{ path('add_session_programme', {'modId': nonModule.id , 'sessionId': session.id}) }}"> ajouter </a></br>
            {% endfor %}
{% endblock %}
