{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<h1> Liste des Module</h1>
<a href="{{ path('new_module') }}">Nouveau module</a></br>
<table>

    <h2>liste des Modules</h2>
    
    <tr>
        <th>Nom</th>
        <th>Categorie</th>
        <th>Option</th>
    </tr>
    
    {% for module in modules %}
    <tr>
        <td><a href="{{ path('show_module', {'id': module.id}) }}">{{module.libelle}}</a></td>
        <td><a href="{{ path('show_categorie', {'id': module.categorie.id}) }}"></a>{{module.categorie}}</td>
        <td><a href="{{ path('delete_module', {'id': module.id}) }}"> Supprimer </a></td>

    </tr>
    {% endfor %}
    

</table>
{% endblock %}
